.logo {
  display: flex;
  justify-content: center;
  margin-top: 4.0rem;
}
.logoLink{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  flex-direction: column;
  gap: 0.1rem;
  font-weight: bold;
  color: rgb(184, 108, 239);
  transition: all 0.3s ease-in-out;
}

.logoLink:hover{
  color: white;
}
.logoLink svg{
  width: 4.4rem;
  height: 5.4rem;
}