.input{
  background-color: transparent;
  border: none;
  text-align: center;
  padding: 0.8rem;
  font-size: 1.2rem;
  border-radius: 0.4rem;
  outline: none;
  border: 0.2rem solid transparent;
  color: white;
  border-bottom: 0.2rem  solid var(--back-color);
  transition: all 0.2s ease-in-out;
}

.input:focus{
   border-radius: 0.8rem;
   border: 0.2rem solid var(--back-color);
}
