.button{
 background: rgb(255, 104, 144);
 border: none;
 color: white;
 padding: 1rem;
 display: flex;
 justify-content: center;
 align-items: center;
 min-width: 22rem;
 border-radius: 0.8rem;
 margin: 3.2rem 0;
 cursor: pointer;
 transition:all 0.3s ease-in-out;
}

.button svg{
  width: 3.2rem;
  height: 3.2rem;
}
.button:hover{
  filter: brightness(70%);
}

.red{
    background: rgb(231, 36, 75);
    color: white;
}

.green{
   background: rgb(98, 73, 221);
   color: white;
}